{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
<h1 class="jumbotron">My Blog</h1>

<div class="row">
<div class="col-sm-6">

{% if tag %}
<h2> Posts tagged with "{{ tag.name}}"</h2>
{% endif %}
 {% for post in posts %}
 
 <h2>
 <a href="{{ post.get_absolute_url }}">
 {{ post.title }}
 </a>
 <p>
     {{post.tags.all| join:", "}}
 </p>
 </h2>
 <p class="date">
 Published {{ post.publish }} by {{ post.author }}
 </p>
 {{ post.body|truncatewords:30|linebreaks }}
 {% endfor %}

 {% include "pagination.html" with page=posts %}
</div>
<div class="col-sm-6">
    <p> This is my blog application to show the already uploaded blogs</p>

</div>
</div>


{% endblock %}